
<header>

<div class="logo">
<%= image_tag 'images.png' %>
</div>




<font color="#9f9f9f" size="7">
<nav>

<ul>
<li> User </li>


<li> <%= link_to "Sign Out",destroy_user_session_path,method: :delete ,data: { confirm: "Are you sure?"}%></li>

</ul>
</nav>

</font>
</header>

<main>
  




<aside>

</aside>

<section>



</section>

</main>